* {
    box-sizing: border-box !important;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2B2B2B !important;
}


@font-face {
    font-family: Work Sans;
    src: url(./WorkSans.ttf);
} 
    
@font-face {
    font-family: Space Mono;
    src: url(./SpaceMono.ttf);
}



/* Navbar */


.logo {
    transition: all .4s !important;
}

.logo:hover {
    transform: scale(1.1) !important;
}

.marketplace {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center !important;
    transition: all .3s !important;
}

.marketplace:hover {
    transform: scale(1.1) !important;
    color: #A259FF !important;
}


.rankings {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center !important;
    margin-left: 50px !important;
    transition: all .3s !important;
}

.rankings:hover {
    transform: scale(1.1) !important;
    color: #A259FF !important;
}

.wallet {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center !important;
    margin-left: 50px !important;
    transition: all .3s !important;
}

.wallet:hover {
    transform: scale(1.1) !important;
    color: #A259FF !important;
}

.signup {
    width: 152px;
    height: 60px;
    border-radius: 20px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A259FF;
    color: #fff;
    border: none;
    transition: all .3s;
}

.signup:hover {
    background-color: #2B2B2B;
    border: 1px solid #A259FF;
    transform: scale(0.96);
}


/* Hero Section */


.h1-1 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 67px !important;
    color: #ffffff !important;
}

.p1 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #ffffff !important;
}

.getbutt {
    width: 224px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #A259FF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 25px;
    transition: all .5s;
}

.getbutt:hover {
    background-color: #3B3B3B;
    transform: scale(0.93);
}


.getbutt1 {
    width: 100% !important;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #A259FF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 25px;
}

.p2 {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 28px !important;
    color: #fff !important;
}

.p3 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 23.99px !important;
    color: #fff !important;
}



/* Trending Collection Section */


.h2-1 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 38px !important;
    color: #fff;
}

.p4 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #fff !important;
}

.btn25 {
    background-color: #A259FF !important;
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px !important;
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    color: #ffffff !important;
    transition: all .5s !important;
}

.btn25:hover {
    background-color: #3B3B3B !important;
    border: 2px solid #A259FF !important; 
}

.dsgnanimals {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    color: #fff !important;
    margin-top: 15px !important;
}

.mrfox {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #fff;
}


/* Top Creators Section */ 


.topcreators {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 38px !important;
    color: #fff !important;
}

.p5 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #fff !important;
}

.viewrankings {
    border: 2px solid #A259FF !important;
    background-color: #2B2B2B !important;
    color: #fff !important;
    border-radius: 20px !important;
    width: 247px !important;
    height: 60px !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    transition: all .4s !important;
}

.viewrankings:hover {
    transform: scale(0.94) !important;
    background-color: #A259FF !important;
}

.viewrankings:hover .rcktlaunch path {
    fill: #fff;
}

.rcktlaunch path {
    transition: all .4s !important;
}

.viewrankings1 {
    border: 2px solid #A259FF !important;
    background-color: #2B2B2B !important;
    color: #fff !important;
    border-radius: 20px !important;
    width: 100% !important;
    height: 60px !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.topcreatorsdiv {
    background-color: #3B3B3B !important;
    border-radius: 20px !important;
    width: 100% !important;
    height: auto !important;
}

.h4-keep {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    color: #fff !important;
    text-align: center !important;
}

.animakidprofile {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    color: #fff !important;
    text-align: center !important;
    text-decoration: none !important;
}

.p6 {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #fff !important;
    text-align: center !important;
}

.totalsale {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    text-align: center !important;
}

.viewrankings1 {
    border: 2px solid #A259FF !important;
    background-color: #2B2B2B !important;
    color: #fff !important;
    border-radius: 20px !important;
    width: 100% !important;
    height: 60px !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}


/* Browse Categories section */


.h3-browse {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 38px !important;
    color: #fff !important;
}

.categoriesdiv {
    border-radius: 20px !important;
    background-color: #3B3B3B !important;
    cursor: pointer !important;
    transition: all .4s;
}

.categoriesdiv:hover {
    transform: scale(1.1);
}

.categoriesdiv:hover .art707 {
    color: #A259FF !important;
}

.art707 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    color: #fff !important;
    padding: 40px !important;
    transition: all .4s;
}


/* Discover More NFT Section */


.h3-discover {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 38px !important;
    color: #fff !important;
}

.p7 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #fff !important;
}

.buttseeall {
    border: 2px solid #A259FF !important;
    border-radius: 20px !important;
    width: 187px !important;
    height: 60px !important;
    background-color: #2B2B2B !important;
    color: #fff !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    transition: all .4s;
}

.buttseeall:hover {
    transform: scale(0.95);
    background-color: #A259FF !important;
}

.eye707 path {
    transition: all .4s !important;
}

.buttseeall:hover .eye707 path {
    fill: #fff;
}

.distantdiv {
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
}

.distantdiv1 {
    background-color: #3B3B3B !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    padding-top: 10px !important;
}

.h3-distant {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    color: #fff !important;
}

.p8 {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #fff !important;
}

.price {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #858584 !important;
}

.ethp {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #fff !important;
}

.buttseeall1 {
    border: 2px solid #A259FF !important;
    border-radius: 20px !important;
    width: 100% !important;
    height: 60px !important;
    background-color: #2B2B2B !important;
    color: #fff !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}


/* Magic Mushroom Section */


.mushroomdiv {
    background-image: url(./pics/NFTInfo.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

@media screen and (max-width: 768px) {
    .mushroomdiv {
        background-image: url(./pics/NFTbgmobile.png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100% !important;
    }
}

.p9 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #fff !important;
    margin: 0 !important;
}

.shroomieavatardiv {
    background-color: #3B3B3B;
    width: 151px !important;
    height: 44px !important;
    border-radius: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.h3-magic {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 51px !important;
    color: #fff !important;
    margin-top: 30px !important;
}

.buttseenft {
    width: 198px !important;
    height: 60px !important;
    border: none !important;
    border-radius: 20px !important;
    background-color: #fff;
    color: #2B2B2B !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin-top: 30px !important;
    transition: all .4s;
}

.buttseenft:hover {
    transform: scale(0.95);
    background-color: transparent !important;
    border: 2px dashed #A259FF !important;
    color: #A259FF !important;
}

.timerdiv {
    width: 100% !important;
    background-color: #3B3B3B80;
    border-radius: 20px !important;
}

.p12 {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #fff !important;
    margin-left: 160px !important;
    padding-top: 20px !important;
}

.p59 {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 38px !important;
    color: #fff !important;
}

.p13 {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #fff !important;
    padding-bottom: 30px;
}


/* How It Works Section */


.h3-works {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 38px !important;
    color: #fff !important;
}

.p10 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #fff !important;
}

.walletdiv {
    background-color: #3B3B3B !important;
    border-radius: 20px !important;

}

.h5-wallet {
    color: #fff !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    text-align: center !important;
}

.p11 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #fff !important;
    text-align: center !important;
}


/* Join Our Weekly Digest Section */ 


.cosmodiv {
    background-color: #3B3B3B !important;
    border-radius: 20px !important;
}

@media screen and (max-width: 768px) {
    .cosmodiv {
        background-color: #2B2B2B !important;
    }
}

.h3-digest {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 38px !important;
    color: #fff !important;
    margin-top: 5px !important;
}

.p14 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 22px !important;
    color: #fff !important;
    margin-top: 10px !important;
}

.emailinput {
    border: none !important;
    border-radius: 20px !important;
    height: 60px !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    outline: none !important;
    padding-left: 20px !important;
}

.emailinput1 {
    border: none !important;
    border-radius: 20px !important;
    width: 100% !important;
    height: 60px !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    outline: none !important;
    padding-left: 20px !important;
    margin-bottom: 16px !important;
}

.subscribebutt {
    height: 60px !important;
    width: 100% !important;
    border: none !important;
    border-radius: 20px !important;
    background-color: #A259FF !important;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: #fff !important;
    overflow: visible !important;
}

.subsdiv {
    background-color: #fff !important;
    border-radius: 20px !important;
}


/* Footer Section */


footer {
    background-color: #3B3B3B !important;
}

.p15 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #ccc;
    margin-top: 33px !important;
}

.p16 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #ccc;
    margin-top: 20px !important;
}

.h4-explore {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    color: #fff !important;
}

.p-marketplace {
    color: #ccc !important;
    font-family: 'Work Sans';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    cursor: pointer !important;
}

.h3-weekly {
    font-family: 'Space Mono' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    color: #fff !important;
}

.p17 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #ccc !important;
    margin-top: 25px !important;
}

.p18 {
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #ccc !important;
}